/*=============================================================*/

$wrap-width: 1170px; // ширина контента

$wrap-padding: 20px 0; // внутренние отступы контента
$section-padding: 60px 0; // внутренние отступы секции

$font-size: 3; // коэффициент размера шрифта для заголовков h

$btn-color: #e24f3f; // цвет кнопки
$btn-color-hover: #e24f3f; // цвет кнопки

/*=============================================================*/